{# Shared contacts from the original site footer. #}
{% set telegram_url = 'https://t.me/Artemiy_Fedoseev' %}
{% macro social_links() -%}
<a href="{{ telegram_url }}" target="_blank" rel="noopener noreferrer">Telegram</a>
<a href="https://www.instagram.com/ege_evolution/" target="_blank" rel="noopener noreferrer">Instagram</a>
<a href="https://max.ru/u/f9LHodD0cOKcoe6nTMOVGcm9jd-I98dzkHeDOoRA7wN4UUnhBOMHvJo48xU" target="_blank" rel="noopener noreferrer">MAX</a>
<a href="https://t.me/+OyPoOPO3uc9lMjE6" target="_blank" rel="noopener noreferrer">Telegram-канал</a>
<a href="https://www.tiktok.com/@ege_evolution" target="_blank" rel="noopener noreferrer">TikTok</a>
<a href="https://www.youtube.com/channel/UC7N0OFdzMW_lbgLWAlhK3Ig" target="_blank" rel="noopener noreferrer">YouTube</a>
{%- endmacro %}
